html,
body {
  height:100%;
}

body {
  width:100%;
}

body {
    background-color: #FAFAFA;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.2em;
}

img {
    vertical-align: middle;
}

video
{
    height: auto;
    width: auto;
    min-width: 100%;
    min-height: 100%;
}

.position-relative {
    position: relative;
}

.position-absolute {
    width: 100%;
    position: absolute;
}

.absolute-center {
    right: 50%;
    transform: translate(50%,0);
}

.height-100 {
    height: 100%;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.white-bg {
    background: #fff;
    height: 100%;
}

.medium-text {
    font-size: 35px;
}

.small-orange {
    color: #EB5B25;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0;
}

.medium-orange {
    color: #EB5B25;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0;
}

.small-grey {
    color: #74787D;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 26px;
}

h3 {
    color: #292A2E;
    font-size: 35px;
    font-weight: 500;
    letter-spacing: 0;
    margin: 25px 0;
}

.d-flex {
    display: flex;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.f-right {
    float: right;
}

.f-left {
    float: left;
}

.btn {
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    padding: 10px 30px;
}

.btn-black {
    color: #fff;
    text-align: center;
    background-color: #292A2E;
}

.btn-orange {
    color: #fff;
    text-align: center;
    background-color: #EB5B25;
}

.btn-arrow {
    position: relative;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    /* margin-right: 25px; */
}

.btn-arrow img {
    margin-left: 8px;
    transition: all ease 0.2s;
}

.btn-arrow-blck {
    color: #292A2E;
}

.btn-arrow:hover {
    color: #EB5B25;
}

.btn-arrow:hover img {
    transform: translateX(10px);
}

.logo {
    position: absolute;
    top: 40px;
    left: 60px;
}

.header {
    height: 100px;
}

.hero-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero-wrapper h3 {
    color: #fff;
}

.hero-wrapper p {
    margin-bottom: 50px;
}

.hero-number {
    position: absolute;
    top: 50%;
    right: 45px;
    transform: translate(0, -50%);
}

.hero-number ul li {
    background-color: #fff;
    list-style: none;
    width: 1px;
    height: 20px;
    margin-bottom: 15px;
    opacity: 0.4;
}

.hero-number ul li:last-child {
    margin-bottom: 0;
}

.hero-number--active {
    opacity: 1 !important;
    width: 2px !important;
}

.hero-content {
    color: #fff;
}

.hero-content p {
    margin-bottom: 8px;
}

.hero-content h2 {
    font-size: 60px;
    font-weight: 500;
    margin: 0 0 40px 0;
}

.hero-content h2 span {
    color: #EB5B25;
}

.mouse-scroll-icon {
    margin-bottom: 150px;
}

.navigation {
    margin: 0;
    padding: 10px 0 0 0;
    display: flex;
    justify-content: space-around;
}

.navigation li {
    list-style: none;
    padding-bottom: 15px;
}

.navigation li a {
    letter-spacing: 0.1em;
    font-size: 12px;
    font-weight: 500;
    color: #7b7c7e;
    text-decoration: none;
}

.navigation li:hover > .dropdown {
    display: block;
}

.navigation li:hover a,
.navigation-active a {
    color: #fff;
}

.navigation li:hover i {
    color: #EB5B25;
    transform: rotate(-180deg);
}

.navigation li a i {
    font-size: 7px;
    margin-left: 4px;
    transition: all ease 0.3s;
}

.dropdown {
    display: none;
    position: absolute;
    background-color: #fff;
    margin-top: 15px;
    padding: 20px 60px 20px 30px;
}

.dropdown li {
    padding-bottom: 5px;
}

.dropdown li a {
    color: #acaeb1 !important;
}

.dropdown li a:hover {
    color: #7b7c7e !important;
}

.media-reviews-wrapper {
    background: linear-gradient(180deg, #292A2E 0%, #000000 183.62%);
    padding-bottom: 110px;
}

.media-logos {
    padding: 120px 15px 100px 15px;
}

.media-logos img {
    margin-right: 15px;
}

.media-logos img:last-of-type {
    margin-right: 0;
}

.review {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    font-size: 14px;
    color: #fff;
    height: 100%;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 26px;
    padding: 65px 45px 45px 45px;
    box-sizing: border-box;
}

.review span {
    align-self: flex-end;
    display: block;
    text-align: right;
    width: 100%;
    margin-top: 40px;
    letter-spacing: 0.1em;
    color: #EB5B25;
}

.media-reviews {
    background-color: #202124;
    background-image: url('../img/quote.svg');
    background-repeat: no-repeat;
    background-position: 90% 10%;
}

.bike-animation-wrapper {
    height: 100%;
    display: flex;
    padding: 250px 150px;
}

.bike-animation-wrapper h3 {
    margin: 0;
}

.bike-animation-wrapper p {
    margin: 25px 0; 
}

.hero-img-2 {
    margin-top: 300px;
}

.user-review {
    background-color: #fff;
}

.section-title {
    padding: 90px 0 40px 0;
}

.info-icons-wrapper {
    margin: 90px 0 0 0;
}

.info-icons {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 35px;
}

.info-icons span {
    width: 100%;
    line-height: 20px;
    padding: 0 15px;
}

.info-icons p {
    width: 100%;
}

.info-icons img {
    width: 91px;
    margin-bottom: 15px;
}

.customer-rating {
    margin: 0;
    padding: 0;
}

.customer-rating li {
    display: inline-block;
    margin-right: 18px;
}

.customer-rating li::before {
    width: 20px;
    height: 20px;
    list-style: none;
    content: url('../img/star.svg');
}

.customer-rating li.blank::before {
    opacity: .2;
}

.customer-review-header{
    margin: 100px 0 70px 0;
}

.customer-review-header h3 {
    font-size: 35px;
    font-weight: bold;
    color: #292A2E;
}

.customer-review-header h3 span {
    color: #74787D;
}

.read-more-btn {
    margin:40px 0 100px 0;
}

.footer-wrapper {
    background-color: #292A2E;
}

.comapnies-logos {
    padding: 90px 0 130px 0;
}

.footer-wrapper {
    color: #696a6d;
    font-size: 16px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0.05em;
}

.footer-logo {
    width: 122px;
    height: 46px;
    margin-bottom: 50px;
}

.footer-wrapper h4 {
    text-transform: uppercase;
    color: #fff;
    margin: 0 0 20px 0;
    line-height: 16px;
    letter-spacing: 0.1em;
}

.footer-wrapper ul {
    margin: 0 0 70px 0;
    padding: 0;
}

.footer-wrapper ul li {
    list-style: none;
}

.footer-wrapper ul li a {
    text-decoration: none;
    color: #696a6d;
}

.footer-wrapper i {
    text-align: center;
    color: #292A2E;
    background-color: #EB5B25;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    font-size: 11px;
    line-height: 17px;
    margin-right: 20px;
}

.owl-carousel .owl-stage {
    display: flex;
  }

.owl-carousel .owl-item {
    display: flex;
    flex: 1 0 auto;
}

.dots-container {
    justify-content: flex-end;
    margin-top: 60px;
    padding: 0 15px;
}

.dots-media-reviews .owl-dot span {
    background-color: #fff;
}

.dots-user-reviews .owl-dot span {
    background-color: #292A2E;
}

.owl-dot {
    cursor: pointer;
    background: 0;
    border: 0;
    outline: 0;
    padding: 0;
}

.owl-dot span {
    display: block;
    width: 20px;
    height: 1px;
    margin-left: 15px;
    opacity: 0.4;
    transition: all ease 0.2s;
}

.owl-dot:hover span {
    cursor: pointer;
    height: 2px;
    opacity: 1;
}

.owl-dot.active span {
    height: 2px;
    opacity: 1;
}

.owl-dot:last-child {
    margin: 0;
}

.viewer .img {
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    width: 100%;
    background-image: url('../img/sprite.jpg');
    background-repeat: no-repeat;
    background-position: 0 50%;
}
  
.viewer.frame1 .img{
background-position: -600px 50%;
}

.viewer.frame2 .img{
background-position: -1200px 50%;
}

.viewer.frame3 .img{
background-position: -1800px 50%;
}

.viewer.frame4 .img{
background-position: -2400px 50%;
}

.second-content {
    opacity: 0;
    transition: all ease 0.2s;
}

.viewer.frame2 .second-content {
    opacity: 1;
}

.video-cover {
   position: relative;
}

.video-cover-btn {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}

.video-cover-btn:hover {
    cursor: pointer;
}

.video-cover-btn:hover img{
    transform: scale(1.1);
}

.video-cover-btn img {
    width: 91px;
    height: 91px;
    margin-right: 18px;
    transition: all ease 0.2s;
}

.js-rotating span {
    width: 280px;
}